@using Online_Ticari_Otomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px;width:1080px;">
    <tr style="background-color:maroon; color:white;">
        <th>ADI</th>
        <th>SOYADI</th>
        <th>ŞEHİR</th>
        <th>MAİL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞ GEÇMİŞİ</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>           
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariID" class="btn btn-default" style="background-color:red;color:white; ">Sil</a></td>
            <td><a href="/Cari/CariGetir/@x.CariID" class="btn btn-default" style="background-color:orangered;color:white; ">Güncelle</a></td>
            <td><a href="/Cari/CariSatis/@x.CariID" class="btn btn-default" style="background-color:purple;color:white; ">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Cari/CariEkle/" class="btn btn-primary" style="margin-left:20px;">Cari Ekle</a>

