@model Online_Ticari_Otomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <label style="margin-left:30px; margin-top:30px"><b>Kategori ID</b></label>
    @Html.TextBoxFor(x => x.DepartmanID, new { @class = "form-control", @readonly = "readonly", @style = "margin-left:30px; width:1000px" })
    <br />
    <label style="margin-left:30px;"><b> Kategori ID</b></label>
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
    <br />

    <button class="btn btn-default" style="background-color:green;margin-left:30px; color:white;">Güncelle</button>
}

